@use '@/styles/foundation/variables' as *;
@use '@/styles/foundation/mixin' as *;

.inner {
  @include inner;
}

.news {
  padding: 100px 0;

  @include sp {
    padding: 64px 0;
  }
}

.list {
  border-top: 1px solid $color-border;
}
